[Unit]
Description=todoapp service

[Service]
WorkingDirectory=/data/app
ExecStart=/data/app/start.sh
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target